@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="fs-1 fw-normal">Welcome</h1>
</div>

<div class="alert alert-info alert-dismissible fade show" role="alert">
    <strong>Woah there!</strong> We're still working on this website!
</div>
